<div id="modal-edit-fields">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="myModalLabel">Sign Up</h2>
        </div>
        <div class="modal-body">
          <div class="small-container">
            <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
              <%= f.error_notification %>

              <%= f.input :email, :placeholder => 'Email address', :autofocus => true %>
              <%= f.input :password, :placeholder => 'Password' %>
              <%= f.input :password_confirmation, :placeholder => 'Password confirmation' %>
              <div class="divider-horizontal">
              </div>
                <p>Enter a phone number with area code to be recognized by hotline when you call.</p>
                <p class="center" style="padding-right: 48px;">ex. (123) 456-7890
              <%= f.input :phone_number, input_html: { id: 'phone' } %>
              <%= render 'layouts/phone' %>
              <div class="center" style="margin-top: 30px; margin-right: 50px;">
                <%= f.submit "Keep Going", class: "btn btn-primary" %>
              </div>
            <% end %>
          </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>



