<%= simple_form_for(@facility) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :abbr %>
    <%= f.input :status, collection: ["Open", "Close", "Custom"] %>
    <%= f.input :message, :input_html => { :rows => 8 } %>
    <p>* required input</p>
  </div>

  <div class="form-actions" style="text-align: center;">
    <%= f.button :submit, :class => "center btn btn-success btn-edit", :style => "margin: auto;" %>
  </div>
<% end %>
