<div class="row">
  <%= render 'sidebar' %>
  <div class="col-md-10">
    <h1 style="padding-left: 30px;">My Facilities</h1>
  <div class="well">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Abbr.</th>
          <th>Status</th>
          <th>Message</th>
          <th style="width: 50px;"></th>
          <th style="width: 75px;"></th>
        </tr>
      </thead>

      <tbody>
        <% @facilities.each do |facility| %>
          <tr>
            <td><%= facility.name %></td>
            <td><%= facility.abbr %></td>
            <td><%= facility.status %></td>
            <td><%= truncate(facility.message, :length => 50, :seperator => ' ') %></td>
            <td><a data-toggle="modal" data-target="#myModal2" data-remote="<%= edit_facility_path(facility) %> #modal-edit-fields" class="btn btn-primary btn-edit">edit</a></td>
            <td><%= link_to '<button class="btn btn-danger btn-edit">Destroy</button>'.html_safe, facility, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
    <br>
    <div class="center" style="margin-bottom: 50px;">
      <%= link_to '<button class="center btn btn-primary btn-fac" data-toggle="modal" data-target="#myModal1">Add New Facility</button>'.html_safe, new_facility_path %>
    </div>

    <!-- Create Modal -->
    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Add New Facility</h4>
          </div>
          <div class="modal-body">
            <div class="small-container">
              <%= render 'form' %>
            </div>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

     <!-- Edit Modal -->
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    </div><!-- /.modal --> 
  </div>
</div>
