<!DOCTYPE html>
<html>
<head>
  <title>Rainout</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= tag :meta, name: "viewport", content: "width=device-width, initial-scale=1.0" %>
  <link href='http://fonts.googleapis.com/css?family=Nunito:700,400' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="container">
		<%= render 'layouts/header' %>
	 	<%= render 'layouts/messages' %>
		<%= yield %>
		<%= render 'layouts/footer' %>
	</div>
</body>
</html>
