<!DOCTYPE html>
<html>
<head>
  <title>Rainout</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= tag :meta, name: "viewport", content: "width=device-width, initial-scale=1.0" %>
  <link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
</head>
<body>
	<div id="wrap">
		<%= render 'layouts/header' %>
		<div class="container">
		 	<%= render 'layouts/messages' %>
			<%= yield %>
		</div>
	</div>
	<%= render 'layouts/footer' %>
	<script src="assets/modal.js"></script>
</body>
</html>
